.collection-item {
	display: flex;
	margin-bottom: $spacing-xxs;
	white-space: nowrap;
}

.collection-item__button {
	@include button-reset();
	@include typography-link();
	align-self: center;
	border-bottom: 0;
	margin-right: $spacing-micro;
	overflow: hidden;
	text-align: left;
	white-space: normal;
	width: 40%;

	&:hover,
	&:focus {
		&::after {
			content: none;
		}
	}
}

.collection-item__title {
	margin-right: $spacing-micro;
	text-decoration: underline;

	.collection-item__button:focus &,
	.collection-item__button:hover & {
		text-decoration: none;
	}
}

.collection-item__count {
	display: inline-block;
	white-space: nowrap;
}

.collection-item__button--secondary {
	@include button-reset();
	align-self: center;
	font-weight: 600;
	margin-left: auto;
	transition: opacity 0.2s;

	&:hover,
	&:active {
		color: $color-purple;
	}
}

.collection-item__bookmark {
	margin-right: $spacing-micro;
	padding: 2px;
	position: relative;
}

.collection-item__button-remove {
	margin-left: auto;
}
