@import "~@metmuseum/marble";
@import "~@metmuseum/marble/src/base/base";

#app {
	position: relative;
	height: 100%;
	/* Rectangle 75 */

}

.welcome-page-container {
	min-height: 100vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(171.54deg, #CE0058 28.49%, #FE8800 100%);
	color: $color-white;
}
.welcome-header {
	padding: $spacing-xs;
	padding-bottom: 0;
	max-width: calc(100vw - (58px + ($spacing-xs * 2)))
}

.welcome-links-container {
	display: flex;
	flex-direction: column;
	margin: 0 $spacing-component-margin;
	padding: $spacing-xs 0;
}

.welcome-links-section {
	display: flex;
	flex-direction: column;
	margin: $spacing-micro 0;
}

.welcome-link {
	display: block;
	margin: $spacing-micro 0;
}


.map-svg-container {
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	margin: $spacing-xs;
	width: 58px;
	height: 58px;
	z-index: 999;
}